ul {
list-style-type: none;
}

li {
display: inline;
padding: 10px;

}

body{

background-color: #E3BAC6;
font-family:"Lucida Sans", Monospace;
}

img{
    max-width: 100%;
}
.gale{
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    gap: 50px;
    margin: 2%;
}

.gale img{
    width: 100%;
    height: 360px;
    border-radius: 50px;
    transition: transform 0.2s;
}

img{
    border-radius: 10%;
}

.gale img :hover{
    transform: scale(1.05);
}